<main>
  <header class="container">
    <app-header-card [numberItems]="soLuongSP"></app-header-card>
  </header>

  <section class="container">
    <app-list-card
      [sanpham]="sanpham"
      (onNhapSoLuong)="onNhapSoLuong($event)"
      (onDeleteSanPham)="onDeleteSanPham($event)"
    ></app-list-card>
  </section>

  <section class="container">
    <app-bottom_card
      [Subtotal_number]="subTotalNumber"
      [Tax_number]="taxNumber"
      [Total_number]="totalNumber"
      [numberKhuyenMai]="giaTriKhuyenMai"
      (onNhapMaKhuyenMai)="onNhapMaKhuyenMai($event)"
    >
    </app-bottom_card>
  </section>
</main>
